/* Author : Saifali Prasla */
* {
  margin: 0;
  padding: 0;
}
.header-section {
  padding: 64px 64px 30px;
}
.heading-text {
  font-weight: bold;
  font-stretch: normal;
  font-size: 38px;
  line-height: 40px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
